Loading the dataset

In [ ]:
! pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
! gdown --id 1E8OTtNK_UNSAdmkg3OuB0k2FsKKF9QpY
! gdown --id 1-pm6_kvT9CBrYER40uIkRiG0KMlHnH7L
! gdown --id 1oiVQignVg1wvE1LXKFvOLHPl0P8GNSDp

! gdown --id 1pGkEyDelD7Lp7yhFML9Dt1oo-91Mqf9H
! gdown --id 1DYVzeYjjTTeHtazHfKD9FTx57h-77bkC

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1E8OTtNK_UNSAdmkg3OuB0k2FsKKF9QpY
To: /content/train.csv
100% 98.6M/98.6M [00:00<00:00, 267MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1-pm6_kvT9CBrYER40uIkRiG0KMlHnH7L
To: /content/test.csv
100% 25.1M/25.1M [00:00<00:00, 79.8MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1oiVQignVg1wvE1LXKFvOLHPl0P8GNSDp
To: /content/submit.csv
100% 41.6k/41.6k [00:00<00:00, 45.4MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1pGkEyDelD7Lp7yhFML9Dt1oo-91Mqf9H
To: /content/pre_train.csv
100% 280M/280M [00:01<00:00, 163MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1DYVzeYjjTTeHtazHfKD9FTx57h-77bkC
To: /content/pre_test.csv
100% 70.2M/70.2M [00:00<00:00, 172MB/s]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
submit_data = pd.read_csv("submit.csv")

train_data.dropna(inplace=True)
train_data.drop(train_data.loc[train_data['text']==" "].index, inplace=True)
train_data.drop(train_data.loc[train_data['text']=="  "].index, inplace=True)
train_data.drop(train_data.loc[train_data['text']=="\n"].index, inplace=True)

# Resetting index
train_data.reset_index(inplace=True)
train_data= train_data.apply(lambda x: x.astype(str).str.lower())
train_data = train_data.drop(columns=["id", "index"])

test_data = test_data.join(submit_data["label"])
# transformed_df = pd.read_csv("pre_train.csv")
# transformed_df_test = pd.read_csv("pre_test.csv")

# X_test = transformed_df_test.values
# y_test = test_data["label"].values

In [ ]:
train_data.shape

(18211, 4)

In [ ]:
# Checking null values
train_data.isnull().sum()

title     0
author    0
text      0
label     0
dtype: int64

In [ ]:
# Removing null values
train_data.dropna(inplace=True)

# Resetting index
train_data.reset_index(inplace=True)

In [ ]:
train_data.shape

(18211, 5)

In [ ]:
train_data.head()

,index,title,author,text,label
0,0,house dem aide: we didn’t even see comey’s let...,darrell lucus,house dem aide: we didn’t even see comey’s let...,1
1,1,"flynn: hillary clinton, big woman on campus - ...",daniel j. flynn,ever get the feeling your life circles the rou...,0
2,2,why the truth might get you fired,consortiumnews.com,"why the truth might get you fired october 29, ...",1
3,3,15 civilians killed in single us airstrike hav...,jessica purkiss,videos 15 civilians killed in single us airstr...,1
4,4,iranian woman jailed for fictional unpublished...,howard portnoy,print \nan iranian woman has been sentenced to...,1

In [ ]:
train_data= train_data.apply(lambda x: x.astype(str).str.lower())

In [ ]:
# Removing null values
test_data.dropna(inplace=True)
test_data.drop(test_data.loc[test_data['text']==" "].index, inplace=True)
test_data.drop(test_data.loc[test_data['text']=="  "].index, inplace=True)
test_data.drop(test_data.loc[test_data['text']=="\n"].index, inplace=True)

# Resetting index
test_data.reset_index(inplace=True)
test_data= test_data.apply(lambda x: x.astype(str).str.lower())
y_test = test_data["label"].values

In [ ]:
y_test.shape

(4544,)

In [ ]:
test_data.drop(columns=["id"])

,index,title,author,text,label
0,0,"specter of trump loosens tongues, if not purse...",david streitfeld,"palo alto, calif. — after years of scorning...",0
1,2,#nodapl: native american leaders vow to stay a...,common dreams,videos #nodapl: native american leaders vow to...,0
2,3,"tim tebow will attempt another comeback, this ...",daniel victor,"if at first you don’t succeed, try a different...",1
3,4,keiser report: meme wars (e995),truth broadcast network,42 mins ago 1 views 0 comments 0 likes 'for th...,1
4,6,pelosi calls for fbi investigation to find out...,pam key,"sunday on nbc’s “meet the press,” house minori...",1
...,...,...,...,...,...
4539,5194,trump on if ’tapes’ exist of comey conversatio...,pam key,pres. trump on if “tapes” exist of his convers...,1
4540,5195,the bangladeshi traffic jam that never ends - ...,jody rosen,of all the dysfunctions that plague the world’...,0
4541,5196,john kasich signs one abortion bill in ohio bu...,sheryl gay stolberg,washington — gov. john kasich of ohio on tu...,1
4542,5197,"california today: what, exactly, is in your su...",mike mcphate,good morning. (want to get california today by...,0
4543,5199,"awkward sex, onscreen and off - the new york t...",teddy wayne,perhaps you’ve seen the new tv series whose pi...,0

In [ ]:
import nltk

import re
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words_set = set(stopwords.words('english'))

sw_removed = []

for i in range(len(train_data)):
    review = re.sub('[^a-zA-Z]',' ',train_data['text'][i])
    review = review.split()
    review = [word for word in review if not word in stop_words_set]
    statements = ' '.join(review)
    sw_removed.append(statements)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
sw_removed_test = []

for i in range(len(test_data)):
    review = re.sub('[^a-zA-Z]',' ',test_data['text'][i])
    review = review.split()
    review = [word for word in review if not word in stop_words_set]
    statements = ' '.join(review)
    sw_removed_test.append(statements)

In [ ]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

stemmed = []

print(len(sw_removed))

for i in range(len(sw_removed)):
  sw_removed_1 = sw_removed[i].split()
  stem = [ps.stem(word) for word in sw_removed_1]
  st = ' '.join(stem)
  stemmed.append(st)

18211

In [ ]:
stemmed_test = []

for i in range(len(sw_removed_test)):
  sw_removed_1 = sw_removed_test[i].split()
  stem = [ps.stem(word) for word in sw_removed_1]
  st = ' '.join(stem)
  stemmed_test.append(st)

In [ ]:
preprocess_arr = np.array(stemmed)

preprocess_df = pd.DataFrame(preprocess_arr)

In [ ]:
preprocess_arr_test = np.array(stemmed_test)

preprocess_df_test = pd.DataFrame(preprocess_arr_test)

In [ ]:
preprocess_df_test

                                                      0
0     palo alto calif year scorn polit process silic...
1     video nodapl nativ american leader vow stay wi...
2     first succeed tri differ sport tim tebow heism...
3     min ago view comment like first time histori f...
4     sunday nbc meet press hous minor leader rep na...
...                                                 ...
4539  pre trump tape exist convers comey well tell m...
4540  dysfunct plagu world megac none may pernici ba...
4541  washington gov john kasich ohio tuesday sign l...
4542  good morn want get california today email joan...
4543  perhap seen new tv seri whose pilot episod beg...

[4544 rows x 1 columns]

In [ ]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument


card_docs = [TaggedDocument(doc.split(' '), [i]) for i, doc in enumerate(preprocess_df.iloc[:,0])]

card_docs

In [ ]:
card_docs_test = [TaggedDocument(doc.split(' '), [i]) for i, doc in enumerate(preprocess_df_test.iloc[:,0])]

card_docs_test

In [ ]:
#instantiate model
model = Doc2Vec(vector_size=100, epochs = 20)
#build vocab
model.build_vocab(card_docs)
#train model
model.train(card_docs, total_examples=model.corpus_count, epochs=model.epochs)

In [ ]:
model2 = Doc2Vec(vector_size=100, epochs = 20)
model2.build_vocab(card_docs_test)
#train model
model2.train(card_docs_test, total_examples=model2.corpus_count, epochs=model2.epochs)

In [ ]:
card2vec = [model.infer_vector((preprocess_df.iloc[:,0][i].split(' '))) for i in range(0,len(preprocess_df.iloc[:,0]))]
card2vec

In [ ]:
card2vec_test = [model2.infer_vector((preprocess_df_test.iloc[:,0][i].split(' '))) for i in range(0,len(preprocess_df_test.iloc[:,0]))]
card2vec_test

In [ ]:
len(card2vec_test)

4544

In [ ]:
len(card2vec_test[0])

100

In [ ]:
vector_df = pd.DataFrame(card2vec)

In [ ]:
vector_df_test = pd.DataFrame(card2vec_test)

In [ ]:
from sklearn.model_selection import StratifiedKFold
kf = StratifiedKFold(n_splits=5)

X = vector_df.values
# X_cv = transformed_df_count_vectorizer.values
y = train_data["label"].values 

X_train=[]
X_val=[]
# X_train_cv=[]
# X_val_cv=[]
y_train=[]
y_val=[]

for train_index, test_index in kf.split(X,y):
  X_train.append(X[train_index])
  X_val.append(X[test_index]) 
  # X_train_cv.append(X_cv[train_index])
  # X_val_cv.append(X_cv[test_index]) 
  y_train.append(y[train_index])
  y_val.append(y[test_index])

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb_0 = GaussianNB()
gnb_1 = GaussianNB()
gnb_2 = GaussianNB()
gnb_3 = GaussianNB()
gnb_4 = GaussianNB()

gnb_0.fit(X_train[0],y_train[0].astype('int'))
gnb_1.fit(X_train[1],y_train[1].astype('int'))
gnb_2.fit(X_train[2],y_train[2].astype('int'))
gnb_3.fit(X_train[3],y_train[3].astype('int'))
gnb_4.fit(X_train[4],y_train[4].astype('int'))

y_pred_0 = gnb_0.predict(X_val[0])
y_pred_1 = gnb_1.predict(X_val[1])
y_pred_2 = gnb_2.predict(X_val[2])
y_pred_3 = gnb_3.predict(X_val[3])
y_pred_4 = gnb_4.predict(X_val[4])

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
print('Comparing the 5 Naive Bayes models on resp. val set')
#model 1
print('\nAverage of the evaluation Metrics for the Models:')
print("Accuracy: ", (accuracy_score(y_val[0].astype('int'), y_pred_0) + accuracy_score(y_val[1].astype('int'), y_pred_1) + accuracy_score(y_val[2].astype('int'), y_pred_2) + accuracy_score(y_val[3].astype('int'), y_pred_3) + accuracy_score(y_val[4].astype('int'), y_pred_4))/5)
print("Precision: ", (precision_score(y_val[0].astype('int'), y_pred_0) + precision_score(y_val[1].astype('int'), y_pred_1) + precision_score(y_val[2].astype('int'), y_pred_2) + precision_score(y_val[3].astype('int'), y_pred_3) + precision_score(y_val[4].astype('int'), y_pred_4))/5)
print("Recall: ", (recall_score(y_val[0].astype('int'), y_pred_0) + recall_score(y_val[1].astype('int'), y_pred_1) + recall_score(y_val[2].astype('int'), y_pred_2) + recall_score(y_val[3].astype('int'), y_pred_3) + recall_score(y_val[4].astype('int'), y_pred_4))/5)
print("f1-score: ", (f1_score(y_val[0].astype('int'), y_pred_0) + f1_score(y_val[1].astype('int'), y_pred_1) + f1_score(y_val[2].astype('int'), y_pred_2) + f1_score(y_val[3].astype('int'), y_pred_3) + f1_score(y_val[4].astype('int'), y_pred_4))/5)

Comparing the 5 Naive Bayes models on resp. val set

Average of the evaluation Metrics for the Models:
Accuracy:  0.7201701924191536
Precision:  0.6446204802697055
Recall:  0.782547770700637
f1-score:  0.70688075098348